<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KNT.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KNT.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <KNT.Properties.Settings>
            <setting name="OnlineModeGUID" serializeAs="String">
                <value>8c5e7fda-e8bf-4a96-9a85-a6e23a8c635c</value>
            </setting>
            <setting name="OfflineModeGUID" serializeAs="String">
                <value>a1841308-3541-4fab-bc81-f71556f20b4a</value>
            </setting>
        </KNT.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <KNT.Properties.Settings>
            <setting name="SelectedLanguage" serializeAs="String">
                <value>Русский</value>
            </setting>
        </KNT.Properties.Settings>
    </userSettings>
</configuration>